{% extends 'layoutAdmin.html.twig' %}
{% block content %}

    {% if menutoday.daysToDate < 1%}
    <div class="alert alert-primary alert-dismissible text-center">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <img class = "logotop" src="/assets/images/cloche-icon.png" alt="logo">
        <strong>Ce soir, vous avez </strong> <a href="/admin/reservations" class="alert-link">une reservation !</a>
    </div>
    {% endif %}

    {% if menupending|length > 0%}

    <div class="alert alert-warning alert-dismissible text-center no-gutters">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ menupending|length }}</strong> <a href="#" class="alert-link">reservations en attente de validation !</a>
    </div>

    {% endif %}


{% for menu in menutoday|slice(0,3)%}

    <div class="container">
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-4"><span class="badge badge-secondary">{{ menu.day }}</span></h1>
                <h2>{{ menu.month }}</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>{{ menu.guests }} couverts</strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{ menu.date }}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ menu.arrival}}<li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{ menu.place }}</li>
                </ul>
                <p>{{ menu.client }} </p>
            </div>
        </div>
    </div>
    {% endfor%}




{% endblock %}