{%  extends 'layout.html.twig' %}

{% block content %}
    <section>
        <div class="container py-5">
            <div class="row">
                <div class="form">
                    <form action="/reservation/control" method="POST">

                        <!-- coordonnées -->
                        <h4>Coordonnées</h4>
                        <!-- nom, prénom -->
                        <div class="form-row">
                            <div class="form-group col-6">
                               <input type="text" class="form-control" id="user_lastname" name="user_lastname" placeholder="Nom">
                                {% if errors.lastName %}
                                <small id="user_lastname_help" class="form-text text-danger">{{ errors.lastName }}</small>
                                {% endif %}
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" id="user_firstname" name="user_firstname" placeholder="Prénom">
                                {% if errors.firstName %}
                                    <small id="user_firstname_help" class="form-text text-danger">{{ errors.firsName }}</small>
                                {% endif %}
                            </div>
                        </div>
                        <!-- email -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_mail" name="user_mail" placeholder="nom@monmail.com">
                            {% if errors.email %}
                                <small id="user_email_help" class="form-text text-danger">{{ errors.email }}</small>
                            {% endif %}
                        </div>
                        <!-- phone -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_phone" name="user_phone" placeholder="0642464869">
                            {% if errors.phone %}
                                <small id="user_phone_help" class="form-text text-danger">{{ errors.phone }}</small>
                            {% endif %}
                        </div>
                        <!-- adresse -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="user_adress" name="user_adress" placeholder="1 rue d'Erstein">
                            {% if errors.adress %}
                                <small id="user_adress_help" class="form-text text-danger">{{ errors.adress }}</small>
                            {% endif %}
                        </div>
                        <!-- code postal, ville -->
                        <div class="form-row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" id="user_zip" name="user_zip" placeholder="67000">
                                {% if errors.zip %}
                                    <small id="user_phone_help" class="form-text text-danger">{{ errors.zip }}</small>
                                {% endif %}
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" id="user_city" name="user_city" placeholder="Strasbourg">
                                {% if errors.city %}
                                    <small id="user_phone_help" class="form-text text-danger">{{ errors.city }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
    </section>
{% endblock %}